.shopContainer {
  display: flex;
  justify-content: space-between;
  margin: 0 3rem;
  overflow: hidden;
  height: 100%;
}
.shopTitle {
  text-align: center;
}
.shopCategories {
  max-width: 30%;
  margin: 0 2rem 0 0;
  padding: 5px;
  border: 2px solid black;
  border-radius: 5px;
}
.shopMain {
  max-width: 70%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border: 2px solid black;
  border-radius: 5px;
  padding: 2rem 2rem 0 2rem;
  height: 550px;
  overflow: auto;
}

.shopCategoriesList {
  padding: 0;
  margin: 1rem 1rem 0;
}
