.card {
  width: 80%;
  height: 40%;
  border: 2px solid black;
  border-radius: 5px;
  margin: 0.5rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.card img {
  width: 50%;
  height: 80%;
}
.card div {
  display: flex;
  flex-direction: column;
}
.card input {
  width: 20%;
}
.card h3 {
  margin-bottom: 0.5rem;
  font-weight: 500;
}
.card span {
  margin-bottom: 0.5rem;
}
