.orderedCard {
  width: 80%;
  height: 40%;
  border: 2px solid black;
  border-radius: 5px;
  margin: 0.5rem;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5%;
}
.orderedCardImg {
  height: 70%;
  object-fit: contain;
  flex-basis: 30%;
}
.orderedCardDetails {
  display: flex;
  flex-direction: column;
  flex-basis: 60%;
}
.orderedCardInput {
  width: 20%;
}
.orderedCardTitle {
  margin-bottom: 0.5rem;
  font-weight: 500;
}
.orderedCaredPrice {
  margin-bottom: 0.5rem;
}
